.signin {
    margin-top: 120px;
    padding: 100px 0 150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.signin h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}
.signin .signin__card {
    width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #F6F5F0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    color: #555;
}

.signup__card h1 {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.signup__card h1 strong {
    font-weight: 700;
    color: #006633;
}
.signup__card h2 {
    padding: 20px;
    font-size: 18px;
    text-align: left;
}
.signup__card input {
    width: 100%;
    margin-bottom: 1px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.signup__card select {
    width: 100%;
    margin-bottom: 1px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.signup__card [type=submit] {
    background-color: #006633;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}



.btn_gray {
    height: 45px;
    background-color: #515151;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 45px;
    cursor: pointer;
    display: inline-block;
    min-width: 60px;
    padding: 0 10px;
    border: 1px solid #515151;
    border-radius: 6px;
}

.signup__table {
    margin:0 auto 10px auto;
    background-color:#fff;
    max-width: 500px;
}

.joinRow {
    padding:20px 20px; 
    display:block; 
    border-top:1px solid #e5e5e5; 
    overflow:hidden
}

.idDiv input {
    width:70%; 
    float: left;
}

.floatR {
    float: right!important;
}

.pwDiv input, .pnbDiv input, .emailDiv input {
    width:100%
}

.label_hidden { 
    position:absolute; 
    top:0; right:0; 
    z-index:-9999;
    width: 1px; 
    height: 1px; 
    overflow: hidden;
}

.submit_btn {
    padding: 20px;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  