{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Data Planet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <!-- CSS style here -->
    <style>
        .menu {
            color: white;
            margin-right: 30px;
        }
    </style>
</head>

<body>
    <body>
        <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->
    
        <!-- header-start -->
        <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center no-gutters">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a href="/">
                                        <img src="{% static 'img/new_logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="" href=""></a></li>
                                            <li><a href="">Service</a></li>
                                            <li><a href="/search/detail" class="active">Search</a></li>
                                            <li><a href="">Community</a></li>
                                            <li><a href="">Contact us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="log_chat_area d-flex align-items-center">
                                    {% if request.session.user %}
                                        <div class="menu">
                                            <li>{{ request.session.user }} 님 환영합니다.</li>
                                            <i class="flaticon-user"></i>
                                            <a href="/logout" style="color: white"> Log out</a>
                                        </div>
                                    {% else %}
                                        <a href="#log-in" class="login popup-with-form">
                                            <i class="flaticon-user"></i>
                                            <span>log in</span>
                                        </a>
                                    {% endif %}
                                        <div class="live_chat_btn">
                                            <a class="boxed_btn_green" href="#">
                                                <i class="flaticon-chat"></i>
                                                <span>Live Chat</span>
                                            </a>
                                        </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
    
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg">
            <h3>세부 데이터 조회</h3>
        </div>
        <!-- bradcam_area_end -->

        <!--================Blog Area =================-->
        <section class="blog_area single-post-area section-padding">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="blog_details">
                        <h2>{{ data.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li>{{ data.ori_source }}</li>
                            <li>{{ data.source }}</li>
                            <li>{{ data.label }}</li>
                            <li>{{ data.type }}</li>
                        </ul>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                < 데이터에 대한 설명 > <br/>
                                {{ data.des }}
                            </div>
                        </div>
                        <p class="excert">
                            <a href="{{ data.url }}">>> 데이터 출처 바로가기</a>
                        </p>
                        <br/><br/><br/>
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            {% if request.session.user %}
                                <form action="{% url 'like' data.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="👍 좋아요">
                                </form>
                                <form action="{% url 'dislike' data.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="👎 싫어요">
                                </form>
                            {% endif %}
                            <p class="like-info"><span class="align-middle"></p>
                            <p class="like-info"><span class="align-middle"></p>
                            <p class="like-info"><span class="align-middle"></p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>< 유사한 데이터 추천 ></h4>
                        {% for rec in recommend %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="desc">
                                            <p class="comment">{{ rec.des }}</p>
                                            <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="/search/detail/{{ rec.data_id }}">
                                                        {{ rec.title }}
                                                    </a>
                                                </h5>
                                                <p class="date">
                                                    {{ rec.ori_source }}  |  {{ rec.source }}  |  {{ rec.label }}  |  {{ rec.type }}
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                    placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="search" type="text" class="form-control" placeholder="검색어를 입력하세요">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex"><p>행정법률 (20,784)</p></a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex"><p>경제금융 (17,157)</p></a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex"><p>문화관광 (14,537)</p></a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex"><p>환경기상 (13,667)</p></a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex"><p>교통물류 (11,879)</p></a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex"><p>제조소비 (11,271)</p></a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex"><p>교육과학 (9,682)</p></a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li><a href="#">자율주행</a></li>
                                <li><a href="#">지방세</a></li>
                                <li><a href="#">장애인</a></li>
                                <li><a href="#">도서관</a></li>
                                <li><a href="#">코로나</a></li>
                                <li><a href="#">제조업</a></li>
                                <li><a href="#">전기차</a></li>
                                <li><a href="#">교육</a></li>
                                <li><a href="#">세금</a></li>
                                <li><a href="#">전력</a></li>
                                <li><a href="#">가축</a></li>
                                <li><a href="#">병원</a></li>
                                <li><a href="#">공연</a></li>
                                <li><a href="#">농사</a></li>
                                <li><a href="#">법</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!--================ Blog Area end =================-->

        <!-- form itself end-->
        <form id="log-in" class="white-popup-block mfp-hide" method="POST">
            {% csrf_token %}
            <div class="popup_box ">
                <div class="popup_inner">
                    <div class="logo text-center">
                        <a href="/">
                            <img src="{% static 'img/new_logo_form.png' %}" alt="">
                        </a>
                    </div>
                    <h3>Sign in</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <input type="text" name="email" placeholder="Enter email">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" name="password" placeholder="Enter Password">
                            </div>
                            <div class="col-xl-12">
                                <button type="submit" class="boxed_btn_green">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#sign-up">Sign Up</a>
                </div>
            </div>
        </form>
        <!-- form itself end -->
    
        <!-- form itself end-->
        <form id="sign-up" class="white-popup-block mfp-hide" method="POST">
            {% csrf_token %}
            <div class="popup_box ">
                <div class="popup_inner">
                    <div class="logo text-center">
                        <a href="#">
                            <img src="{% static 'img/new_logo_form.png' %}" alt="">
                        </a>
                    </div>
                    <h3>Registration</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <input type="text" name="name" placeholder="Enter your name">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="text" name="email" placeholder="Enter your email (ID)">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" name="password" placeholder="Enter your password">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" name="password_check" placeholder="Enter your password again">
                            </div>                      
                            <div class="col-xl-12">
                                <button type="submit" class="boxed_btn_green">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
        <!-- form itself end -->
    <!-- form itself end -->
        <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>
    
        <!--contact js-->
        <script src="js/contact.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
    
        <script src="js/main.js"></script>
    </body>
</html>