<!-- Header -->
<header>
    <div class="inner">
        {% if request.session %}
            <div class="sub-menu">
                <ul class="menu">
                    <li>{{ request.session.name }} 님 환영합니다.</li>
                </ul>
            </div>
        {% else %}
            <div class="sub-menu">
                <ul class="menu">
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/signup">회원가입</a></li>
                </ul>
            </div>
        {% endif %}

        <ul class="main-menu">
            <li class="item">
                <div class="item__name">
                    <a href="/overview">Overview</a>
                </div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class="inner">
                            <li>
                                <a href="/overview"><h4>플랫폼 및 서비스 소개</h4></a>
                            </li>
                            <li>
                                <a href="/overview/platform_info"><h4>데이터 플랫폼 리스트 소개</h4></a>
                            </li>
                            <li>
                                <a href="/overview/eda"><h4>수집 데이터 EDA</h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item__name">
                    <a href="/search/category">Search</a>
                </div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class="inner">
                            <li>
                                <a href="/search/category"><h4>카테고리 별 검색</h4></a>
                            </li>
                            <li>
                                <a href="/search/detail"><h4>세부 데이터 검색</h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>


            <li class="item">
                <div class="item__name">
                    <a href="/community">Community</a>
                </div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class="inner">
                            <li>
                                <a href="/community"><h4>커뮤니티 홈</h4></a>
                            </li>
                            <li>
                                <a href="/community/create"><h4>글 작성하기</h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="item__name">
                    <a href="/support">고객지원</a>
                </div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class="inner">
                            <li>
                                <a href="/support"><h4>문의하기</h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>