{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Data Planet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <!-- CSS style here -->
    <style>
        .menu {
            color: white;
            margin-right: 30px;
        }
    </style>
</head>

<body>
    <body>
        <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->
    
        <!-- header-start -->
        <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center no-gutters">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a href="/">
                                        <img src="{% static 'img/new_logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="" href=""></a></li>
                                            <li><a href="/service">Service</a></li>
                                            <li><a href="/search/detail" class="active">Search</a></li>
                                            <li><a href="/contact">Contact us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="log_chat_area d-flex align-items-center">
                                    {% if request.session.user %}
                                        <div class="menu">
                                            <li>{{ request.session.user }} 님 환영합니다.</li>
                                            <i class="flaticon-user"></i>
                                            <a href="/logout" style="color: white"> Log out</a>
                                        </div>
                                    {% else %}
                                        <a href="#log-in" class="login popup-with-form">
                                            <i class="flaticon-user"></i>
                                            <span>log in</span>
                                        </a>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
    
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg">
            <h3>데이터 조회/검색하기</h3>
        </div>
        <!-- bradcam_area_end -->

        <!--================ Data Area =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% if search_data %}
                                <h1 style="color:black;"> "{{ search_value }}" 검색 결과</h1>
                                {% for data in search_data %}
                                    <article class="blog_item">
                                        <div class="blog_details">
                                            <a class="d-inline-block" href="/search/detail/{{ data.data_id }}">
                                                <h2>{{ data.title }}</h2>
                                            </a>
                                            <p>{{ data.des }}</p>
                                            <ul class="blog-info-link">
                                                <li>{{ data.ori_source }}</li>
                                                <li>{{ data.source }}</li>
                                                <li>{{ data.label }}</li>
                                                <li>{{ data.type }}</li>
                                            </ul>
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                {% for data in posts %}
                                    <article class="blog_item">
                                        <div class="blog_details">
                                            <a class="d-inline-block" href="{{ data.data_id }}">
                                                <h2>{{ data.title }}</h2>
                                            </a>
                                            <p>{{ data.des }}</p>
                                            <ul class="blog-info-link">
                                                <li>{{ data.ori_source }}</li>
                                                <li>{{ data.source }}</li>
                                                <li>{{ data.label }}</li>
                                                <li>{{ data.type }}</li>
                                            </ul>
                                        </div>
                                    </article>
                                {% endfor %}
                                <nav class="blog-pagination justify-content-center d-flex">
                                    <ul class="pagination">
                                        {% if posts.has_previous %}
                                            <li class="page-item">
                                                <a href="?page=1" class="page-link">맨 앞</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                                    <i class="ti-angle-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link">{{ posts.number }}</a></li>
                                        {% if posts.has_next %}
                                            <li class="page-item">
                                                <a href="?page={{ posts.next_page_number }}" class="page-link">
                                                    <i class="ti-angle-right"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a href="?page={{ posts.paginator.num_pages }}" class="page-link">맨 뒤</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input name="search" type="text" class="form-control" placeholder="검색어를 입력하세요">
                                            <div class="input-group-append">
                                                <button class="btn" type="submit"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>

                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Category Count</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <p style="margin-bottom: 0px;">행정법률 (20,784)</p>
                                    </li>
                                    <li>
                                        <p style="margin-bottom: 0px;">경제금융 (17,157)</p>
                                    </li>
                                    <li>
                                        <p style="margin-bottom: 0px;">문화관광 (14,537)</p>
                                    </li>
                                    <li>
                                        <p style="margin-bottom: 0px;">환경기상 (13,667)</p>
                                    </li>
                                    <li>
                                        <p style="margin-bottom: 0px;">교통물류 (11,879)</p>
                                    </li>
                                    <li>
                                        <p style="margin-bottom: 0px;">제조소비 (11,271)</p>
                                    </li>
                                    <li>
                                        <p style="margin-bottom: 0px;">교육과학 (9,682)</p>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title">Tag Clouds (검색제공)</h4>
                                <ul class="list">
                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">자율주행</button>
                                        <input name="search" value="자율주행" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">지방세</button>
                                        <input name="search" value="지방세" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">장애인</button>
                                        <input name="search" value="장애인" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">도서관</button>
                                        <input name="search" value="도서관" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">코로나</button>
                                        <input name="search" value="코로나" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">제조업</button>
                                        <input name="search" value="제조업" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">전기차</button>
                                        <input name="search" value="전기차" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">교육</button>
                                        <input name="search" value="교육" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">세금</button>
                                        <input name="search" value="세금" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">전력</button>
                                        <input name="search" value="전력" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">가축</button>
                                        <input name="search" value="가축" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">병원</button>
                                        <input name="search" value="병원" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">공연</button>
                                        <input name="search" value="공연" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">농사</button>
                                        <input name="search" value="농사" hidden>
                                    </form>
                                    </li>

                                    <li style="margin: 5px 5px 5px 5px;">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <button type="submit" style="background: #ffffff; border: none;">법</button>
                                        <input name="search" value="법" hidden>
                                    </form>
                                    </li>

                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Data Area =================-->
    
        <!-- form itself end-->
        <form id="log-in" class="white-popup-block mfp-hide" method="POST">
            {% csrf_token %}
            <div class="popup_box ">
                <div class="popup_inner">
                    <div class="logo text-center">
                        <a href="/">
                            <img src="{% static 'img/new_logo_form.png' %}" alt="">
                        </a>
                    </div>
                    <h3>Sign in</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <input type="text" name="email" placeholder="Enter email">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" name="password" placeholder="Enter Password">
                            </div>
                            <div class="col-xl-12">
                                <button type="submit" class="boxed_btn_green">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#sign-up">Sign Up</a>
                </div>
            </div>
        </form>
        <!-- form itself end -->
    
        <!-- form itself end-->
        <form id="sign-up" class="white-popup-block mfp-hide" method="POST">
            {% csrf_token %}
            <div class="popup_box ">
                <div class="popup_inner">
                    <div class="logo text-center">
                        <a href="#">
                            <img src="{% static 'img/new_logo_form.png' %}" alt="">
                        </a>
                    </div>
                    <h3>Registration</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <input type="text" name="name" placeholder="Enter your name">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="text" name="email" placeholder="Enter your email (ID)">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" name="password" placeholder="Enter your password">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" name="password_check" placeholder="Enter your password again">
                            </div>                      
                            <div class="col-xl-12">
                                <button type="submit" class="boxed_btn_green">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
        <!-- form itself end -->
    <!-- form itself end -->
        <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>
    
        <!--contact js-->
        <script src="js/contact.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
    
        <script src="js/main.js"></script>
    </body>
</html>