{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>AI Dev course - Monthly Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "assets/vendor/fonts/circular-std/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <link rel="stylesheet" href="{% static "assets/libs/css/style.css" %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">Data Planet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-2.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-4.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-5.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <a href="https://programmers.co.kr/" class="connection-item">
                                        <img src="{% static "assets/images/programmers.png" %}" style="width: 250px">
                                        <span>프로그래머스 인공지능 데브코스 4기</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "assets/images/user-removebg.png" %}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">[4기-A] 박성찬</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/" data-target="#submenu-1" aria-controls="submenu-1"><i class="fab fa-fw fa-wpforms"></i>Overview <span class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-fw fa-database"></i>Data Details <span class="badge badge-success">6</span></a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_schema.html">Data Schema</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_eda.html">Data EDA</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-search"></i>Data Search <span class="badge badge-success">6</span></a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_search.html">Data</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_platform_search.html">Data Platform</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="community.html" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-fw fa-comment-dots"></i>Coummnity</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Data Search Engine - Detail</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Data Search</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Data Search Engine - Detail</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <br/>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pr-xl-0 pr-lg-0 pr-md-0  m-b-30">
                                    <div class="product-slider" style="border-top-left-radius: 2px; border-bottom-left-radius: 2px; padding: 60px;">
                                        <img class="d-block" src="{% static "assets/images/ministry_interior_saftey.png" %}" style="width: 180px; height: 190px">
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 border-left m-b-30">
                                    <div class="product-details">
                                        <div class="border-bottom pb-3 mb-3">
                                            <h2 class="mb-3">행정안전부 지방공공요금 현황</h2>
                                            <div class="product-rating d-inline-block float-right">
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                            </div>
                                            <h3 class="mb-0 text-primary">출처: 공공데이터포털</h3>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Data Type</h4>
                                            <p style="font-weight: bold">텍스트</p>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Label</h4>
                                            <p style="font-weight: bold">일반행정 > 행정법률</p>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Source</h4>
                                            <p style="font-weight: bold">행정안전부</p>
                                        </div>
                                        <div class="product-description">
                                            <h4 class="mb-1">Description</h4>
                                            <p>전체시도 지방공공요금, 평균요금,  전철료 (카드, 현금), 시내버스 (카드, 현금), <br/>
                                                택시비, 도시가스료, 상수도료, 하수도료, 쓰레기 봉투료</p><br/>
                                            <a href="https://www.data.go.kr/data/3045228/fileData.do" class="btn btn-primary btn-block btn-lg">데이터 다운로드</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10">
                                    <h3> Related Data</h3>
                                </div>
                                <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header" style="font-weight: bold">가장 유사한 데이터</h5>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="https://www.data.go.kr/data/3080529/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">전라남도 해남군 공공요금 물가동향</h5>
                                                        <small>공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">전라남도 해남금 공공요금 (시내버스료, 택시료, 도시가스료, 상수도료, 하수도료, 쓰레기봉투료) 데이터</p>
                                                    <small>일반공공행정 > 행정법률</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/3044307/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">대구광역시 지방공공요금현황</h5>
                                                        <small class="text-muted">빅데이터지도</small>
                                                    </div>
                                                    <p class="mb-1">상수도요금, 하수도요금, 쓰레기봉투료, 정화조 청소료, 도시가스, 시내버스 및 전철 요금, 택시요금 등을 포함한 대구광역시 지방공공...</p>
                                                    <small class="text-muted">행정법률 > 행정법률</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15012006/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">경기도 의정부시 지방공공요금</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">경기도 의정부시 지방공공요금에 대한 데이터로 공공요금, 지하철요금 (카드, 현금), 버스요금 (카드, 현금), 택시요금, 도시가스요금...</p>
                                                    <small class="text-muted">일반공공행정 > 행정법률</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header" style="font-weight: bold">함께 보면 좋을 데이터</h5>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="https://www.data.go.kr/data/15047212/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">광주광역시 시내버스 정류소별 이용객 현황</h5>
                                                        <small>공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">광주광역시에서 제공하는 시내버스 정류소별 연간 이용객현황 (정류명, 정류소번호, 정류소별 승차 및 환승 이용객 현황 데이터를 제공...</p>
                                                    <small>교통 및 물류 > 교통물류</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15060303/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">인천광역시 버스 공공와이파이 설치현황</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">인천광역시 버스 공공와이파이 설치현황 자료입니다. (구분, 운수사명, 노선번호, 설치대수, 설치완료일, 통신사, 서비스세트식별자...</p>
                                                    <small class="text-muted">통신 > 교육과학</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15041341/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">국가철도공단 부산교통공사 수유실</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">부산교통공사에서 운영하는 노선의 수유실에 대한 데이터로, 철도운영기관명, 선명, 역명, 수유실의 역층, 출구번호, 상세위치, 유아용...</p>
                                                    <small class="text-muted">교통 및 물류 > 교통물류</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header" style="font-weight: bold">참고해볼 수 있는 데이터</h5>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="https://www.data.go.kr/data/15080647/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">전라북도 김제시 지방세 미환급 현황</h5>
                                                        <small>공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">2017년 ~ 2019년 전라북도 김제시 지방세 미환급 현황 (시도명, 시군구명, 자치단체코드, 세목명, 과세년도, 미환급유형, 납세자유형...</p>
                                                    <small>재정, 세제, 금융 > 경제금융</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15055818/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">전라북도 생활폐기물 발생현황</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">전라북도 생활폐기물 발생 현황 (시군구, 발생량 및 처리현황, 음식물채소류 등) 제공</p>
                                                    <small class="text-muted">환경 > 환경기상</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/3057438/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">부산교통공사 열차운행실적</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">부산교통공사의 도시철도 (지하철) 운행실적을 연단위로 제공 (운행횟수 계획, 운행횟수 실적, 운행거리 계획, 운행거리 실적)</p>
                                                    <small class="text-muted">교통 및 물류 > 교통물류</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer" style="position: absolute; bottom: 0;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="https://github.com/Paul-scpark">Github</a>
                                    <a href="https://paul-scpark.github.io/">Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static "assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "assets/vendor/slimscroll/jquery.slimscroll.js" %}"></script>
    <script src="{% static "assets/libs/js/main-js.js" %}"></script>
</body>
</html>