
{% extends 'home.html' %}
{% load static %}

{%block title %}Login{% endblock  %}

{% block content  %}
    <div class="container jumbotron text-justify">
    <h1 class="display-4">Login Here  </h1>
    <form id="login_form" class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %} <!-- for security reasons -->
    {{login_form.as_p}} <!-- rendering form as paragraph -->
    <input type="submit" class="btn  btn-outline-info" value="Login">
    </form>
    <p ><a class="px-2 mx-2 btn btn-link text-decoration-none" href="{%url 'register' %}">Not a Member?</a>

    </div>
{% endblock %}