{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>AI Dev course - Monthly Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "assets/vendor/fonts/circular-std/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <link rel="stylesheet" href="{% static "assets/libs/css/style.css" %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">Data Planet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-2.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-4.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-5.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <a href="https://programmers.co.kr/" class="connection-item">
                                        <img src="{% static "assets/images/programmers.png" %}" style="width: 250px">
                                        <span>프로그래머스 인공지능 데브코스 4기</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "assets/images/user-removebg.png" %}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">[4기-A] 박성찬</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/" data-target="#submenu-1" aria-controls="submenu-1"><i class="fab fa-fw fa-wpforms"></i>Overview <span class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-fw fa-database"></i>Data Details <span class="badge badge-success">6</span></a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_schema.html">Data Schema</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_eda.html">Data EDA</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-search"></i>Data Search <span class="badge badge-success">6</span></a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_search.html">Data</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="data_platform_search.html">Data Platform</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="community.html" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-fw fa-comment-dots"></i>Coummnity</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Data Search Engine - Detail</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Data Search</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Data Search Engine - Detail</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <br/>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pr-xl-0 pr-lg-0 pr-md-0  m-b-30">
                                    <div class="product-slider" style="border-top-left-radius: 2px; border-bottom-left-radius: 2px; padding: 60px;">
                                        <img class="d-block" src="{% static "assets/images/ministry_culture_sports_tourism.jpeg" %}" style="width: 180px; height: 190px">
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 border-left m-b-30">
                                    <div class="product-details">
                                        <div class="border-bottom pb-3 mb-3">
                                            <h2 class="mb-3">문화체육관광부 문화중심도시육성 (인공지능 활용 콘텐츠 창작랩 구축 운영) 교육 프로그램 정보</h2>
                                            <div class="product-rating d-inline-block float-right">
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                            </div>
                                            <h3 class="mb-0 text-primary">출처: 공공데이터포털</h3>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Data Type</h4>
                                            <p style="font-weight: bold">텍스트</p>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Label</h4>
                                            <p style="font-weight: bold">문화체육관광 > 문화관광</p>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Source</h4>
                                            <p style="font-weight: bold">문화체육관광부</p>
                                        </div>
                                        <div class="product-description">
                                            <h4 class="mb-1">Description</h4>
                                            <p>인공지능 활용 콘텐츠 창작랩 구축 운영 사업 교육 프로그램 정보 (사업명, 담당부처, <br/>
                                                교육제목, 교육내용, 교육시작일, 모집인원, 교육장소, 관련 URL)</p><br/>
                                            <a href="https://www.data.go.kr/data/15098141/fileData.do" class="btn btn-primary btn-block btn-lg">데이터 다운로드</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10">
                                    <h3> Related Data</h3>
                                </div>
                                <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header" style="font-weight: bold">가장 유사한 데이터</h5>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="https://www.data.go.kr/data/15098184/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">문화체육관광부 문화콘텐츠 R&D 전문인력양성(R&D) (문화기술핵심인력양성)</h5>
                                                        <small>공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">문화콘텐츠 R&D 전문인력양성(R&D) (문화기술핵심인력양성) 사업 교육 프로그램 정보 (사업명, 담당부처, 운영교육기관명, 교육제목...</p>
                                                    <small>문화체육관광부 > 문화관광</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15098185/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">문화체육관광부 문화콘텐츠 R&D 전문인력양성(R&D) (예술과학융합인력양성)</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">문화콘텐츠 R&D 전문인력양성(R&D) (예술과학융합인력양성) 사업 교육 프로그램 정보 (사업명, 담당부처, 운영교육기관명, 교육제목...</p>
                                                    <small class="text-muted">문화체육관광부 > 문화관광</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15062805/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">한국데이터산업진흥원 (빅)데이터 교육과정 정보</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">2022년 6월 15일 기준 한국데이터산업진흥원에서 운영 중인 (빅)데이터 교육과정 정보 (교육명, 교육장소, 교육일정 등)를 제공합니다...</p>
                                                    <small class="text-muted">교육 > 교육과학</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header" style="font-weight: bold">함께 보면 좋을 데이터</h5>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="https://www.data.go.kr/data/15088985/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">서울특별시 서울도시농업 학습과 체험의 배우러 가기 정보</h5>
                                                        <small>빅데이터지도</small>
                                                    </div>
                                                    <p class="mb-1">서울도시농업 학습과 체험을 배울 수 있는 교육 프로그램 정보를 제공합니다. 등록자치구, 과정명, 신청시작일, 신청종료일, 이용시작일...</p>
                                                    <small>농수산식품 > 식품건강</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15060303/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">수원도시공사 서수원칠보체육관 스포츠프로그램현황</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">수원도시공사 내 운영 중인 서수원칠보체육관에서 보유중인 강좌에 관한 강좌명, 교육시작일, 교육종료일, 강좌내용, 교육방법, 운영요일...</p>
                                                    <small class="text-muted">문화체육관광 > 문화관광</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/15081120/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">대전광역시 신규자과정 운영현황</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">대전광역시 인재개발원의 신규자과정 운영현황으로 연간 기수, 교육기간, 이수시간, 계획인원 및 실적인원 등이 포함되어 있습니다...</p>
                                                    <small class="text-muted">교육 > 교육과학</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header" style="font-weight: bold">참고해볼 수 있는 데이터</h5>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="https://www.data.go.kr/data/15080647/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">창업진흥원 메이크올 교육 정보</h5>
                                                        <small>공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">중소벤처기업부 및 창업진흥원 운영하는 메이크올 사이트에 등록되어 있고 이용자들이 참여할 수 있는 교육 정보. 메이크올 교육명...</p>
                                                    <small>산업, 통상, 중소기업 > 제조소비</small>
                                                </a>
                                                <a href="https://www.data.go.kr/data/3078619/fileData.do" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">인천광역시 부평구 정보화교육정보</h5>
                                                        <small class="text-muted">공공데이터포털</small>
                                                    </div>
                                                    <p class="mb-1">인천광역시 부평구 정보화교육 연간 일정입니다. (교육과정명, 강사명, 교육장소 등) (1, 엑셀2010, 김민정, 노정애...</p>
                                                    <small class="text-muted">교육 > 교육과학</small>
                                                </a>
                                                <a href="https://www.bigdata-sme.kr/#/datastore/detail/data/DATASET_KPC_55" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">연도별 직무수준별 교육분야별 수강 현황</h5>
                                                        <small class="text-muted">빅데이터지도</small>
                                                    </div>
                                                    <p class="mb-1">1980년부터 2009년까지 3개 연대 (10년단위 기준)의 경력 (5개 직무수준)별 교육분야 (IT, 품질, 회계, 인적자원 등...</p>
                                                    <small class="text-muted">교육과학 > 교육과학</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer" style="position: absolute; bottom: 0;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="https://github.com/Paul-scpark">Github</a>
                                    <a href="https://paul-scpark.github.io/">Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static "assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "assets/vendor/slimscroll/jquery.slimscroll.js" %}"></script>
    <script src="{% static "assets/libs/js/main-js.js" %}"></script>
</body>
</html>